.about-me {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    height: 500vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .image {
        width: 200px;
    }

    .avatar {
        height: 175px;
        width: 175px;
        border-radius: 50%;
        opacity: .85;
    }
    
    .contents {
        padding-left: 50px;
    }
}