.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: absolute;
    opacity: .8;
    border: 1px solid red;
  
    .logo-container {
      height: 300px;
      width: 100%;
      padding: 25px;
      padding-top: 35px;
      text-align: center;
    }
    
    .logo {
        height: 175px;
        width: 175px;        
    }
  
    .options {
      padding-top: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
  
      .option {
        padding: 10px 25px;
        cursor: pointer;
      }

      .option:hover {
        color: gray;
      }

    }
  }